.title{
    font-size: 25px;
    text-align: center;
}

.startb{
    text-align: center;
    background-color:rgba(0, 0, 0, 0);
    font-size:15px;
    border-width: 1.5px;
    padding: 5px 10px;
    cursor: pointer;
    transition:background-color 0.3s ease;
}

.startb:hover{
    background-color: rgba(0, 55, 208, 0.055);
}

.settei{
    border:1px solid;
    padding: 10px;
}

.run{
    text-align: right;
}

.rand{
    font-size: 30px;
}